/*===============welcome section style================*/
.fw h3,
h4 {
  font-weight: bold;
}
.btnx {
  background-color: coral;
}
.banner-sec h2 {
  color: #fff;
  padding-bottom: 10px;
}
.banner-sec p {
  color: #fff;
}
.lead {
  font-size: 20px;
  font-weight: 300;
}
.description {
  font-weight: 400;
}
/*================card Style=================*/
.card-body {
  position: relative;
}

.card {
  -webkit-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
  height: 100%;
}
.btn {
  background-color: coral;
  border: none;
}
.card:hover .card-img-top {
  size: 50%;
}

.card-body img {
  transition: transform 0.5s ease;
}
.card-body:hover img {
  transform: scale(1.1) rotate(50deg);
}
.card-body h3 {
  text-transform: uppercase;
}
/*===============contact style=================*/
.h1 {
  text-align: center;
  padding-bottom: 10px;
}
.sub-header {
  color: #f05a25;
  font-weight: bold;
  line-height: 1.286em;
}
.rightsideBLOCK {
  font-size: 20px;
  padding-left: 25px;
}
.frmOutside {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
[type="number"] {
  width: 100%;
}
